{% extends 'user_prof.html' %}


{% block content %}

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">1. Salinity</h5>
          <p class="card-text">When preparing your hatching solution, a 25 parts per thousand (ppt) salt solution is ideal under most conditions. This equates to around 1.018 specific gravity as measured with a hydrometer. If you lack a hydrometer, this salinity can be achieved by dissolving approximately 1 and 2/3 tablespoons of salt in one quart (roughly, one liter) of water. Be sure to use non iodized salt.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">2. pH</h5>
          <p class="card-text">Proper pH can be important in hatching brine shrimp. A starting pH of 8.0 or higher is recommended. In areas where the water pH is below 7, Epson salt or magnesium sulfate can be added at the rate of 1/2 teaspoon per quart of hatching solution.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">3. Temperature</h5>
          <p class="card-text">Optimum water temperature for a 24-hour complete hatch is 80-82°F (26-28°C). Lower temperatures will result in a longer hatching time and inefficient hatches. Do not exceed 86° (30°C). Do not place an immersion heater directly into your hatching container! An immersion bath is a preferred method to maintain constant hatching temperatures. Alternatively, an incandescent bulb placed above the hatching cone can provide sufficient heat in the right environment.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">4. Light</h5>
          <p class="card-text">Illumination is necessary to trigger the hatching mechanism within the embryo during the first few hours of incubation. Maintaining a light source during the entire incubation period is recommended to obtain optimum hatch results and, as mentioned above, for temperature control.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">5. Aeration</h5>
            <p class="card-text">Constant aeration is necessary to keep cysts in suspension and to provide sufficient oxygen levels for the cysts to hatch. A minimum of 3 parts per million dissolved oxygen during the incubation is recommended. Strong aeration should not damage or hurt the brine shrimp cysts or nauplii. A [rigid air tube] is ideal to direct air to the bottom of the cone and to prevent unhatched eggs from settling. We do not recommend an airstone.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
  </div> -->
<br>
  <h3>Hatching Procedure</h3>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">1. Set Up</h5>
        <p class="card-text">Place hatching cone or similarly shaped vessel in well-lit area. Cone should be semi-translucent for ease of harvesting and light transmission.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">2. Add Water</h5>
        <p class="card-text">Fill cone with water and adjust salinity to 25 ppt (parts per thousand). Optimum hatching temperature is 82°F (28°C).</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">3. Add Cysts</h5>
        <p class="card-text">Add cysts at the rate of 1 gram per liter.p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">4. Aerate</h5>
        <p class="card-text">Provide adequate aeration to keep cysts in suspension.p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">5. Hatch</h5>
        <p class="card-text">Depending upon water temperature, cysts should hatch in approximately 18-36 hours.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">6. Harvest</h5>
        <p class="card-text">After hatching brine shrimp, turn off or remove aeration and wait several minutes for the shells and and baby brine shrimp (or nauplii) to separate. Newly hatched nauplii will settle to the bottom of the cone or move towards a light source; the shells will float to the surface. Once separated, the nauplii can be siphoned from the bottom with a length of air tubing or gently drained through the bottom of the cone through a valve, if so equipped.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">7. Rinse</h5>
        <p class="card-text">The warm incubation temperatures and metabolites from the hatching medium create ideal conditions for a bacteria bloom. Rinsing of the baby brine shrimp in a fine mesh net or sieve using clean fresh or salt water is important before feeding them to your fish.p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">8. Clean Equipment</h5>
        <p class="card-text">Tanks and brine shrimp hatching equipment should be cleaned and disinfected routinely.</p>
      </div>
    </div>
  </div>



  {% endblock %}
